
out/
native/out/
native/libs/
native/obj/


app/build/
app/**/build/
.gradle/
*.class


*.apk
*.zip
*.aab
*.jks
*.keystore
*.p12


/config.prop
*.local.properties
local.properties
signing.properties
keystore.properties
/.private/


target/
tools/elf-cleaner/target/
tools/rustup-wrapper/target/
native/src/boot/proto/mod.rs
native/src/boot/proto/update_metadata.rs
native/**/*-rs.cpp
native/**/*-rs.hpp


*.log
logs/


__pycache__/
*.py[cod]
/.personalize.json


.idea/
*.iml
.cursor/
*.ipr
*.iws


.DS_Store
Thumbs.db
desktop.ini
ehthumbs.db
*.swp
*.swo
*~
.vscode/


ramdisk.img
*.img
/notes.md


tools/ndk/


unpacked/
Magiskless/

official-magisk/
vvb2060-magisk/
