
* text eol=lf







*.cmd text eol=crlf
*.bat text eol=crlf


tools/** binary
tools/rustup-wrapper/** -binary
tools/elf-cleaner/** -binary
*.jar binary
*.exe binary
*.apk binary
*.so binary
*.dex binary
*.png binary
*.jpg binary
*.ttf binary
udonge/payload/tee/**/inject binary
udonge/payload/tee/**/supervisor binary
